@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

.clear{
    clear: both;
}

.container{
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
}

/** inicio Header do site **/

.logo{
    width: 236px;
    height: 40px;
    background-image: url(../imagens/logo.png);
    background-position: center;
    background-size: contain;
    float: left;
}

header .container{
   padding: 20px 2%;
}

.nav-desktop{
    float: right;
}


.nav-desktop ul{
    list-style: none;
}

.nav-desktop ul li{
    float: left;
    padding-left:30px;
}

.nav-desktop ul a {
    text-decoration: none;
    color: #b4b4b4;
    font-weight: 900;
    
}

.nav-mobile{
    float: right;
    display: none;
    background-image: url(../imagens/menu-mobile.png);
    height: 35px;
    width: 43px;
}

.nav-mobile:hover{
    cursor: pointer;
}

.nav-mobile ul{
    list-style: none;
    display: none;
}

.nav-mobile ul li{
    float: left;
    padding-left:30px;
}

.nav-mobile a {
    text-decoration: none;
    color: #b4b4b4;
    font-weight: 900;
    
}

/** fim Header do site **/

/** inicio section-1**/
.sessao-1 .container{
    padding: 0 2%;
}

.primeiro{
    float: left;
    width: calc(100% / 6);
}

.img{
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 5px solid white;
}
/** fim section-1**/

/**inicio section-2**/
.sessao-2 .container{
   max-width: 800px;
   display: flex;
   text-align: center;
   position: relative;
   top: -30px;
   align-items: center;
}

.secundario{
    padding: 20px 2%;
    width: 30%;
    height: 160px;
    background-color:#576975;
    color: white;
    background-image: url(../imagens/icone_dente.png);
    background-position: center calc(100% - 10px);
    background-repeat: no-repeat;
    
}
.principal{
    width: 40%;
    height: 200px;
    background-color:#688293;
    color: white;
    padding: 45px 2%;
}

.secundario h2{
    font-size: 20px;
    text-transform: uppercase;
}

.secundario p{
    font-size: 14px;
    margin-top: 7px;
    
}

.principal h2{
    font-size: 25px;
    text-transform: uppercase;
}

.principal p{
    margin-top: 15px;
}
/**fim section-2**/

/**inicio section-3**/
.sessao-3 .container{
    max-width: 800px;
    
}

.img-primeiro{
    float: left;
    width: 40%;
}

.img-mulher{
    
    background-image: url(../imagens/img_perfil.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 150%;
}

.sobre{
    margin-top: 20px;
    text-align: justify;
    width: 60%;
    float: right;
    padding: 15px 4%;
}

.sobre h2{
    font-size: 20px;
    color: #698293;
}

.sobre p{
    margin-top: 15px;
    font-weight: 900;
    font-size: 13px;
}
/**fim section-3**/

/**inicio section-4**/
.sessao-4{
    padding: 50px 0;
}   
.box-video{
       float: left;
       width: 33.3%;
       padding-top: calc(33.3% * 0.6);
       position: relative;
   }

   .sessao-4 div.box-video iframe{
       position: absolute;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
   }
/**fim section-4**/

/**inicio sessao-5**/
   .tratamentos{
       max-width: calc(100% / 3);
       float: left;
       padding:0 3%;
       
   }

   .tratamentos p{
       margin: 15px 0;
       text-align: justify;
       font-size: 13px;
       font-weight: 900;
   }

   .sessao-5 .container h2.titulo{
       text-align: center;
       margin: 60px 0;
       color: #698293;
       font-size: 20px;
       
   }

   .sessao-5 .container .tratamentos h2{
       font-size: 21px;    
   }
/**fim sessao-5**/

/**inicio sessao-6**/
.sessao-6 .container{
    max-width: 600px;
    text-align: center;
}

.sessao-6{
    margin-top: 80px;
    padding-bottom: 40px;
}

.sessao-6 .container .comentario{
    margin-top: 20px;
    
}

.sessao-6 .container .comentario p{
    max-width: 400px;
    margin: 0 auto;
}

.sessao-6 .container .cliente{
    margin-top: 20px;
    
}

.sessao-6 .container .cliente span{
    font-size: 12px;
    font-weight: 900;
    position: relative;
	top:4px;
    vertical-align: top;
}

/**fim sessao-6**/

/**inicio sessao-7**/
.sessao-7{
    
}

.rede-insta-dr{
    padding: 50px 0;
    background-color: #98a5ae;
}

.rede-insta-dr img{
    margin: 0 auto;
    display: block;
    margin-bottom: 16px;   
}

.rede-insta-dr p {
    color: white;
    text-align: center;
}

.sessao-7 .primeiro{
    float: left;
    width: calc(100% / 9);
}

.sessao-7 .img{
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 5px solid white;
}

.rede-face-dr{
    padding: 50px 0;
    background-color: #576975;
}

.rede-face-dr img{
    margin: 0 auto;
    display: block;
    margin-bottom: 16px;   
}

.rede-face-dr p {
    color: white;
    text-align: center;
}

/**fim sessao-7**/

/**inicio sessao-8**/
    .sessao-8 .container{
        max-width: 550px;
        padding: 0 3%;
        margin-top: 50px;
        padding-bottom:20px ;
    }

    .sessao-8 .container> p{
        text-align: center;
        font-weight: bold;
        color: #698293;
        margin-bottom: 40px;
    }

    .sessao-8 .form{
        margin-top: 15px;
    }

    .form form{
        width: 100%;
    }

    .form form .name{
        width: 100%;
    }
    
    .form form p{
        margin: 10px 0;
        font-weight: bold;
        color: #b4b4b4;
    }

    .form form input[type=name]{
        width: 100%;
        height: 35px;
        padding: 5px;
        border: 1px solid #b4b4b4;
        font-weight: bold;
    }

    .form form .email{
        width: 48%;
        float: left;
       
    } 

    .form form input[type=email]{
        width: 100%;
        height: 35px;
        padding: 5px;
        border: 1px solid #b4b4b4;
        font-weight: bold;
    }

    .form form .telefone{
        width: 48%;
        float: right;
    } 

    .form form input[type=tel]{
        width: 100%;
        height: 35px;
        padding: 5px;
        border: 1px solid #b4b4b4;  
        font-weight: bold;
    }

    .form form textarea{
        width: 100%;
        height: 120px;
        padding: 5px;
        border: 1px solid #b4b4b4;  
        font-weight: bold;
        resize: none;
    }

    .form form input[type=submit]{
        margin: 0 auto;
        display: block;
        height: 36px;
        width: 100px;
        border: none;
        background-color:#688293;
        color:white;
        font-weight: bolder;
        cursor: pointer;
        margin-top: 10px;
    }

    .form form input[type=submit]:hover{
        background-color:#4f6879;
    }
/**fim sessao-8**/

/**inicio footer**/
footer{
    background-color: #688293;
    padding: 40px 2%;
}

.telefone-footer{
    float: left;
    width: 33.3%;
}

.horario-footer{
    float: left;
    width: 33.3%;
}

.endereco-footer{
    float: left;
    width: 33.3%;
}

footer .container p{
    font-weight: bolder;
    color:white;
}

footer .container h2{
    font-size: 20px;
    color:white;
    margin-bottom: 12px;
}


/**fim footer**/

/*inicio Responsivo width 1000px*/
@media screen and (max-width: 1000px) {
    .sessao-7 .primeiro{
        
        width: calc(100% / 6);
    }

    .sessao-7 .primeiro:nth-of-type(7){
        display: none;
    }

    .sessao-7 .primeiro:nth-of-type(8){
        display: none;
    }
    
    .sessao-7 .primeiro:nth-of-type(9){
        display: none;
    }
}
  
/*final Responsivo width 1000px*/

/*inicio Responsivo width 750px*/
    @media screen and (max-width: 750px){
        .sessao-2 .container{
            
           flex-direction: column;
         }

         .secundario{
            width: 50%;
            
        }
        .principal{
            width: 60%;
        }

        .nav-desktop{
            display: none;
        }

        .nav-mobile{
            display: block;

        }

        .sessao-3 .container{
            text-align: center;
        }

        .img-primeiro{
            float: none;
            width: 50%;
            display: inline-block;
        }
        
        .img-mulher{
            width: 100%;
            padding-top: 150%;
        }
        
        .sobre{
            margin-top: 20px;
            width: 100%;
            float: none;
            
        }

        .sessao-4 .container{
            text-align:center;
            padding: 0 3%;
        }

        .sessao-4 div.box-video {
            display: inline-block;
            position: none;
            width: 100%;
            height: 300px;
            margin-top: 10px;
            
        }
        .sessao-4 div.box-video iframe{
            top: none;
            left: none;
            position: none;
        }

        .sessao-7 .primeiro{
        
            width: calc(100% / 3);
        }
    

        .sessao-7 .primeiro:nth-of-type(4){
            display: none;
        }
    
        .sessao-7 .primeiro:nth-of-type(5){
            display: none;
        }
        
        .sessao-7 .primeiro:nth-of-type(6){
            display: none;
        }

        footer .container {
            text-align: center;
        }

        .telefone-footer{
            float: none;
            width: 100%;
            display: inline-block;
        }
        
        .horario-footer{
            float: none;
            width: 100%;
            display: inline-block;
            margin-top: 10px;
        }
        
        .endereco-footer{
            float: none;
            width: 100%;
            display: inline-block;
            margin-top: 10px;
        }

        .form form .email{
            width: 100%;
            float: none;
           
        } 
    
        .form form .telefone{
            width: 100%;
            float: none;
        } 

    }
/*final Responsivo width 750px*/

