@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500&display=swap');


:root{
    --laranja: #FEA24D;
    --azul-fraco:#5BA4B5;
    --vermelho: #D63A5F;
    --font-importada: 'M PLUS Rounded 1c', sans-serif;
}


/*inicio rezet*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: var(--font-importada);
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #27283D;
    
}
/*fim rezet*/


section{
min-height: 100vh;
width: 100%;
}

/*inicio header*/
header{
    background-color:#fea34df9;
    position: fixed;
    border-bottom: 1px solid white;
    width: 100%;
    overflow: hidden;
    top: 0;
    z-index: 11;
}

header.cabecalho nav.navegacao-sobre-mim img{
    width: 90px;
}
header.cabecalho nav.navegacao-sobre-mim{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 1%;
    
}

header.cabecalho .navegacao-sobre-mim a{
    margin-left: 20px;
    color: aliceblue;
}

header.cabecalho .navegacao-sobre-mim a:hover{
    color:#D63A5F;
    transition: .5s ease;
    border-radius: 5px;
}

.navegacao{
    display: flex;
}

#checkbox{
    display:none;
}

.hamburguer{
    position: relative;
    padding: 10px 25px 12px 3px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 5px;
}

.line{
    position: absolute;
    width: 23px;
    height: 2px;
    background-color: #fff;
    border-radius:3px;
    transition: transform .25s, opacity .35s;
}

.line--top{
    transform: translateY(-7px);
}

.line--bottom{
    transform: translateY(7px);
}

#checkbox:checked~ .line--top{
    transform: rotate(45deg);
}

#checkbox:checked~ .line--middle{
    transform: translateX(16px);
    opacity:0;
}

#checkbox:checked~ .line--bottom{
    transform: rotate(-45deg);
}
/*fim header*/

/*inicio main*/

/*inicio sessao-home-cont*/
.sessao-home{
    width: 330px;
}
 section.sessao-home-cont{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-top:150px;
    padding-bottom:80px;
}

 section.sessao-home-cont img{
    width: 100%;
    max-width: 600px;
    min-width: 350px;
   z-index: 10;
   transition: .5s;
   border: 1px solid white;
   transform-style: preserve-3d;
   transform: translate3d(-50%,-50%,50px) rotate(50deg);
    margin-top: 15px;
}

section.sessao-home-cont img:hover{
    transform: translate3d(-50%,-50%,100px) rotate(50deg);
}
 section.sessao-home-cont p{
    color: var(--vermelho);
    margin-top:10px;
}

main.corpo-princinpal h2{
    color: var(--laranja);
    font-weight: 300;
    font-size: 27px;
}

.typing-demo{
    width: 346px;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right:3px solid white;
}

@keyframes typing{

    from{
        width: 0;
    }
}

@keyframes blink{
    50%{
        border-color: transparent;
    }
}

section.sessao-home-cont h2:last-of-type{
    margin-top:10px;
}

main.corpo-princinpal h1{
    margin-top:10px;
    color: var(--azul-fraco);
    font-weight: 300;
    font-size: 40px;
}

section.sessao-home-cont div.container-bnt{
    display: flex;
    justify-content: space-between;
}

 section.sessao-home-cont button{
    width: 140px;
    height: 40px;
    cursor: pointer;
    margin-top:20px;
    border-radius: 10px;
    background-color: #27283D;
    color: white;
}

 section.sessao-home-cont button.bnt-git{
    border: 2px solid #E74B27;
}

 section.sessao-home-cont button.bnt-link{
    border: 2px solid #0A66C2;
}
/*fim sessao-home-cont*/

/*inicio sessao-sobre-mim*/
 section.sessao-sobre-mim{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top:160px;
    column-gap: 90px;
    padding-bottom:180px;
}
 section.sessao-sobre-mim img{
    width: 100%;
    max-width:300px;
    border-radius: 150px;
}

 section.sessao-sobre-mim article.sobre-mim-texto-container{
    max-width: 600px;
    padding: 0 2%;
}

 section.sessao-sobre-mim article.sobre-mim-texto-container h2{
    font-size: 40px;
}

 section.sessao-sobre-mim article.sobre-mim-texto-container p{
    color:white;
}

/*fim sessao-sobre-mim*/

/*inicio sessao-projetos*/

section.sessao-projetos {
    padding-top:130px;
}

 section.sessao-projetos div.container-projetos {
    display: grid;
    grid-template-columns:33.3% 33.3% 33.3%;
    max-width: 910px;
    margin: 0 auto;
    
}

 section.sessao-projetos h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

 section.sessao-projetos h3{
    color: var(--azul-fraco);
}

 section.sessao-projetos p{
    color:white;
}

 section.sessao-projetos article.projeto-nosh img{
    width: 100%;
    max-width: 300px;
    height: 300px;
}

 section.sessao-projetos .projeto-nosh{
    max-width:100%;
    width: 300px;
    padding: 2%;
    
}

section.sessao-projetos article .bnt{
    width: 100px;
    height: 50px;
    background-color: var(--azul-fraco);
    text-align: center;
    border-radius:10px;
    margin-top: 10px;
}

section.sessao-projetos article .bnt:hover{
    background-color: #3f7884;
    cursor: pointer;
}


/*fim sessao-projetos*/

/*inicio sessao-habilidades*/

.sessao-habilidades{
    padding-top:130px;
    max-width:1100px;
    margin: 0 auto;
}

.sessao-habilidades p{
    color:white;
    font-size:2.5vh;

}

main.corpo-princinpal .sessao-habilidades h2{
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

.container-habilidades{
    display: flex;
    gap: 50px;
    
}

.container-logos{
    display: grid;
    grid-template-columns:33% 33% 33%;
    width: 50%;
}

.container-texto{
    width: 50%;
}

.container-habilidades img{
    max-width: 150px;
    width:100% ;
}

.container-habilidades img.js-logo{
    padding: 4px;
}

.vue img{
    height: 120px;
    margin-top:10px ;
    padding-top:10px ;
}

.imagens-programacao{
    background-color: white;
    margin: 15px;
    border-radius: 20px;
}

.container-habilidades .container-texto p.sobre-a-linguagem{
    margin-top:30px;
}

/*inicio parte do javaScript*/
.container-habilidades .container-texto p.nome-tecnologia{
    margin-top:10px;
}
.container-habilidades .container-texto p.sobre-tecnologia{
    margin-top:30px;
}

.container-habilidades .container-texto p.experiencia-tecnologia{
    margin-top:30px;
}
/*fim parte do javaScript*/

/*fim sessao-habilidades*/

/*inicio sessao-experiencia*/
    
.sessao-experiencia{
margin-top:50px;
padding-top: 120px;
}

main.corpo-princinpal .sessao-experiencia h2{
    text-align:center;
    font-size:40px;
    margin-bottom: 20px;
    
}

.container-experiencia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 2%;
}

.container-experiencia p{
    color:white;
    font-size: 25px;
    
}

.container-experiencia img{
    max-width: 300px;
    
}

/*inicio footer*/
footer{
    display: flex;
    justify-content: center;
    padding: 30px 2%;
    border-top: 1px solid white;
    background-color:#fea34df9;
    color: white;
}
/*fim footer*/

/*fim sessao-experiencia*/
/*fim main*/

@media screen and (max-width: 1009px){
    .container-habilidades{
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
    }

    
    
    .container-logos{
        display: grid;
        grid-template-columns:33% 33% 33%;
        width: 100%;
        order: 1;
        max-width: 500px;
        margin: 0 auto;
    }

    .container-texto{
        width: 100%;
        order: 2;
        height: 350px;
        max-width: 500px;
        margin: 0 auto;
        padding: 0 2%;
    }
}

@media screen and (max-width: 860px) {
    section.sessao-projetos div.container-projetos {
        grid-template-columns:100%;
    }

    section.sessao-projetos div.container-projetos article{
        margin: 0 auto;
    }
}

@media screen and (max-width: 588px) {
    
    .hamburguer{
        display: block;
        z-index: 1000;
    }
    

    .navegacao{
        position: fixed;
        top: 0;
        margin: 0;
        right: 0;
        height: 100vh;
        background-color: #784e26;
        flex-direction: column;
        align-items: center;
        padding: 100px 20px;
        gap: 20px;
        width: 100%;
        max-width:300px;
        transition: 1s ease;
        
    }

    .navegacao.active{
        right: -100%;
    }
    
}

@media screen and (max-width: 498px){
        .vue img{
        height: 90px;
        margin-top:10px ;
        padding-top:10px ;
    }   
}