@charset "UTF-8";

/*INICIO RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier Prime', sans-serif;
}


.clear {
    clear: both;
}

body, html{
    background-color:#FAFAFA;
}

/*FIM RESET*/

/*INICIO HEADER*/
.container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 20px 2%;


}


.img {
    background-image: url(../img/Noshlogo.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    float: left;
}

.navegacao-desktop {
    float: right;
    margin-top: 65px;
}



.navegacao-mobile {
    display: none;
    background-image: url(../img/menu.png);
    background-size: 100% 100%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-top: 30px;
    float: right;
    z-index: 2;
}

.navegacao-mobile ul {
    display: none;
    background-color: white;
    width: 95%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 269px;
    border: 1px solid black;
    text-align: center;
    z-index: 1;
    display: none;
    list-style-type: none;
}


.navegacao-mobile ul li {
    padding: 20px;
    position: relative;
}

.navegacao-mobile ul li:hover {
    background-color: rgb(192, 184, 184);
}

a {
    text-decoration: none;
    color: #515759;
}

.navegacao-desktop ul {
    list-style: none;
}

.navegacao-desktop ul li {
    float: left;
    margin-left: 40px;
    cursor: pointer;
    padding-bottom: 5px;
}

.catering{
   border: 1px solid black; 
   position: absolute;
   top: 104px;
   
   display: none;
   background-color: #FFFFFF;
   border-radius: 7px;
}

.navegacao-mobile .catering{
    top: 50px;
    background-color: #ffffff;
    left: calc(50% - 80px) ;
    z-index: 1;
}


.contact-nav{
   border: 1px solid black; 
   position: absolute;
   top: 104px;
   display: none;
   background-color: #FFFFFF;
   border-radius: 7px;
   right:0;
}
 .catering  a{
    padding: 5px 10px 10px 10px;
    text-align: left;
}

 .catering  a:hover{
    
    border-left: 6px solid blue;
    background-color:#F5F6F8;
    
}

 .contact-nav a{
    padding: 5px 10px 10px 10px;
    text-align: left;
}

 .contact-nav  a:hover{
    border-left: 6px solid blue;
    background-color:#F5F6F8;
}
.navegacao-mobile .contact-nav{
    top: 50px;
    right:calc(50% - 100px) ;
    
}

 ul li:hover .catering  {
    display: flex;
}

 ul li:hover .contact-nav {
    display: flex;
}

/*FIM HEADER*/

/*INICIO MID*/
.mid {
    border: 1px solid black;
    background-image: url(../img/lgooo.jpg);
    background-position:top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    padding-top: 200px;
}

.conteudo {
    border-radius: 30px 10px 30px 0;
    padding: 20px 40px;
    max-width: 750px;
    margin: 0 auto;
    background-color: #031D29;
    border: 1px solid white;
}

.conteudo h2 {
    color: white;
    text-align: center;
    font-size: 31px;
}

/*FIM MID*/

/*Inicio sessao-1*/
.sessao-1 {
    z-index: 1;
    position: relative;

}

.sessao-1 p {
    z-index: 1;
    margin-top: 40px;
    font-size: 24px;

}

.sessao-1 .container {
    max-width: 1200px;
}

img {
    position: relative;
    top: -125px;
    
}

/*Fim sessao-1*/

/*Inicio sessao-2*/
.sessao-2 {
    background-color: #F3F4F5;
    position: relative;
    top: -131px;
}

.sessao-2 .container {
    padding-top: 100px;
    max-width: 1200px;

}

 h2 {
    font-weight: 200;
    font-size: 30px
}

    .bnt {
    cursor: pointer;
    margin-top: 20px;
    width: 300px;
    height: 48px;
    padding-top: 15px;
    background-color: #193441;
    color: white;
    text-align: center;
    line-height: 24px;
    border-radius: 15px 5px 15px 5px;

}

    .bnt:hover {
    background-color: #18647c;
    border-radius: 5px 5px 5px 15px;

}

.office-texto {
    width: 50%;
    float: left;
}

.office-texto p {
    font-size: 24px;
    padding-top: 30px;
}

.office-img {
    background-image: url(../img/petisco.jpg);
    height: 380px;
    width: 50%;
    float: right;
    max-width: 600px;
    background-size: cover;
    border-radius: 80px 5px 80px 5px;
    background-repeat: no-repeat;
    position: relative;
    top: -35px;
    
    border: 2px solid white;
}

.artigo {
    margin-top: 70px;
    background-color: rgba(80, 86, 88, .05);
    padding: 20px 2%;
    background-image: url(../img/aspas-invertido.png);
    background-position: 15px 15px;
    background-size: auto 150px;
    background-repeat: no-repeat;
    min-height: 160px;
    font-size: 19px;
    border-radius:20px;
    border: 2px solid white;
}

.artigo .texto-artigo {
    padding: 2px 2% 0 15%;
}

.artigo p:last-child {
    margin-top: 10px;
    font-weight: bolder;
}

img.andulado2 {
    position: relative;
    top: -135px;
}

/*fim sessao-2*/

/*Inicio sessao-3*/

.sessao-3{
    position: relative;
    top: -150px;
}

.sessao-3 .container {
    width: 100%;
    max-width: 1200px;

}

.sessao-3 .img-garcom{
    background-image: url(../img/garcom.jpg);
    height: 380px;
    width: 50%;
    float: left;
    max-width: 520px;
    background-size: cover;
    border-radius: 80px 5px 80px 5px;
    background-repeat: no-repeat;
    position: relative;
    top: -35px;
    border: 2px solid white;
}

.texto-sessao-3{
    width: 50%;
    float: right;
}

.texto-sessao-3 p{
     margin-top:30px;
     font-size: 24px;

}

/*Fim sessao-3*/

/*inicio sessao-4*/
.sessao-4 .container {
    width: 100%;
    max-width: 1200px;
}
.sessao-4{
    position: relative;
    top: -150px;
}

.sessao-4 .texto-img-4{
    width: 50%;
    float: left;
    max-width: 600px;
    background-color: #F1F1F1;
    padding: 10px 5% 10px 100px;
    background-image: url("../img/aspas-invertido.png");
    background-position: 2px 2px; /*posicao da img*/
    background-size: auto 170px; /*largura e altura da img*/
    background-repeat: no-repeat;
    min-height: 160px;
    font-size: 14px;
    font-style: italic;
    line-height: 30px;
    border-radius:20px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-95%, -50%);
    border: 2px solid white;
    
}

.sessao-4 .img-4{
    width: 40%;
    float: right;
    background-image: url("../img/MEU\ AMOR\ SORRINDO.jpeg");
    border-radius: 80px 5px 80px 5px;
    height: 680px;
    max-height: 500px;
    max-width:334px;
    background-size: cover;
    border: 2px solid white;
    position: relative;
    left:-120px;
}
/*Fim sessao-4*/

/*Inicio sessao-5*/
.sessao-5{
    background-color: #F3F4F5;
    position: relative;
    top: -131px;
}
.sessao-5 .container {
    width: 100%;
    max-width: 1200px;
    
}

.sessao-5 .texto-s5{
    width: 45%;
    float: left;
}

.sessao-5 .texto-s5 P {
    margin-top: 30px;
    font-size: 23px;   
    font-weight: 100; 
}

.sessao-5 .img-s5{
    background-image: url(../img/mine-hamburguer.jpg);
    border: 2px solid white;
    float: right;
    width: 50%;
    max-width: 510px;
    height: 340px;
    background-size: contain;
    border-radius: 80px 5px 80px 5px;
    position: absolute;
    left:47%;
    background-repeat: no-repeat;
}

.sessao-5 .mini-logo{
    margin-top:110px;
    border-radius:20px;
    border: 2px solid white;
    background-color:#EBECED;
    line-height: 30px;
    padding: 5px 3% 45px 80px;
    background-image: url("../img/aspas-invertido.png");
    background-repeat: no-repeat;
    background-size: auto 140px;
    background-position:0px -1px;
}

img.andulado4 {
    position: relative;
    top: -135px;
}


/*Fim sessao-5*/

/*inicio sessao-6*/
.sessao-6{
    position: relative;
    top: -250px;
}
.sessao-6 .container {
    width: 100%;
    max-width: 1200px;
}

.sessao-6 .img-icone-mulher{
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-image: url('../img/mulher-icone.png');
    background-position:center;
    background-size: contain;
    position: relative;
    
}

.sessao-6 .texto-da-mulher-icone{
    float: right;
    width: 85%;
    background-color: #f1f1f16c;
    background-image: url("../img/aspas-invertido.png");
    background-repeat: no-repeat;
    background-size: auto 140px;
    background-position:0px -1px;
    padding: 15px 3% 15px 80px;
    border-radius:15px;
    border: 2px solid white;
}

.texto-da-mulher-icone p{
    line-height: 30px;
}

.container-texto-img-principal{
    margin-top:100px;
}

.sessao-6 .img-minha-esposa-outro-lugar{
    background-image: url(../img/outra\ foto\ da\ minha\ eposa.jpeg);
    max-height: 500px;
    max-width:334px;
    height: 634px;
    width: 500px;
    background-size: cover;
    border-radius: 80px 5px 80px 5px;
    border: 2px solid white;
}

.texto-6{
    width:50%;
    float:left;
}
.img-6{
    width:50%;
    float:right;
    
}

.texto-6 p{
    margin-top:25px;
    font-size: 23px;
    line-height: 30px;
}



.container-texto-img-secundario .img-tipo-romeu-e-julieta{
    width: 100%;
    max-width:500px;
    height: 350px;
    background-size: cover;
    background-image: url(../img/tipo\ romeu\ e\ juielta\ .jpg);
    border-radius: 80px 5px 80px 5px;
    margin: 40px auto;
}

.container-texto-img-secundario .texto-do-romeuejulieta{
    border-radius:20px;
    border: 2px solid white;
    background-color:#F1F1F1;
    line-height: 30px;
    padding: 5px 2% 80px 80px;
    background-image: url("../img/aspas-invertido.png");
    background-repeat: no-repeat;
    background-size: auto 140px;
    background-position:0px -1px;
}

img.andulado5 {
    position: relative;
    top: -230px;
}

/*Fim sessao-6*/

/*inicio sessao-7*/
.sessao-7{
    background-color: #F3F4F5;
    position: relative;
    top: -240px;
    padding-bottom: 100px;
}
.sessao-7 .container {
    width: 100%;
    max-width: 1200px;
}

.sessao-7 .texto-hire{
    width: 50%;
    float: left;
}

.sessao-7 .texto-hire p{
    margin-top:25px;
    font-size: 22px;
}

.sessao-7 .container-img{
    width: 50%;
    float: right;
    margin-right: -20px;
}

.sessao-7 .img-salao{
    background-image: url(../img/mesa-de-casa.jpeg);
    background-size: cover;
    border-radius: 80px 5px 80px 5px;
    height: 440px;
    width: 100%;
    max-width: 420px;
    border: 2px solid white;
}

img.andulado6 {
    position: relative;
    top: -250px;
}

/*Fim sessao-7*/

/*inicio rodape-parte-1*/
.rodape-parte-1{
    position: relative;
    top: -170px;
    text-align: center;
}
.rodape-parte-1 .container {
    width: 100%;
    max-width: 1200px;
}

.container-menus{
    display:flex;
    justify-content:center;
    gap: 20px 50px;
    flex-wrap: wrap;
    
}
nav{
    display:flex;
    flex-direction:column;
    gap: 18px 10px;
    text-align: center;
    
}

nav a{
    font-size:14px;
    
}

.container-coluna{
    display:flex;
    flex-direction:column;
    gap: 10px 10px;
}

.rodape-parte-1 p{
    padding-top: 50px;
    font-size: 20px;
}

/*Fim rodape-parte-1*/

/*inicio rodape-parte-2*/
.rodape-parte-2{
    display:flex;
    justify-content:center;
    
}
.rodape-parte-2 .img-fot{
    position: absolute;
    background-image: url(../img/Noshlogo.svg);
    background-attachment: fixed;
    background-position: 50% 100%;
    background-size: 500px;
    height: 212px;
    width: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    
}
/*Fim rodape-parte-2*/
.img-andu-ult{
    position: relative;
    z-index: -1000;
    display: flex;
    width: 100%;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.img-ultimo{
    position: absolute;
    top: 62px;
    z-index: 0;
}

@media screen and (max-width: 1124px){
    .catering{
        
        top: 204px;
        
        
     }

     .contact-nav{
        
        top: 204px;
        
     }
}



/*inicio MAX: 1059px*/

@media screen and (max-width: 1059px){
    .sessao-1{
        z-index: 1,5;
    } 
    .sessao-5 .img-s5{
        background-size: cover;
    }
    .sessao-6 .texto-da-mulher-icone{
        min-width:300px;
        width: 80%;
        
    }

    .sessao-4 .img-4{
        
        position: relative;
        left:-50px;
    }
    
    
}
/*fim MAX: 1059px*/

/*inicio MAX: 954px*/
@media screen and (max-width: 954px) {
    .navegacao-desktop {
        display: none;
    }

    .navegacao-mobile {
        display: inline-block;

    }

    .office-img {
        top: 0;
        height: 400px;
        width: 100%;
        float: none;
        max-width: 1200px;
        margin: 0 auto;
        background-size: cover;
        background-position: center;


    }

    .office-texto {
        width: 100%;
        float: none;
    }

    .sessao-3 .img-garcom{
        float: none;
        width: 100%;
        max-width: 1200px;
    }

    .texto-sessao-3{
        float: none;
        width: 100%;
    }

    .sessao-4 .texto-img-4{
        width: 100%;
        float: none;
        margin: 0 auto;
        max-width: 600px;
        position: static;
        left:0;
        top:0;
        transform: translate(0, 0);
        
    }
    
    .sessao-4 .img-4{
        width: 100%;
        float: none;
        margin: 30px auto 0 auto;
        position: static;
        left:0;
        
    }

    .sessao-5 .texto-s5{
        width: 100%;
        float: none;
    }
    
    
    .sessao-5 .img-s5{
        float: none;
        width: 100%;
        position: static;
        margin: 30px auto 0 auto;
        
    }

    .texto-6{
        width:100%;
        float:none;
    }
    .img-6{
        width:100%;
        float:none;
        
        
    }



    .sessao-6 .img-minha-esposa-outro-lugar{
        margin:30px auto;
    }

    .sessao-7 .texto-hire{
        width: 100%;
        float: none;
    }
    
    .sessao-7 .container-img{
        width: 100%;
        float: none;
        margin-right: 0;
    }

    .sessao-7 .img-salao{
        margin: 30px auto;
    }
    

}

/*fim MAX: 954px*/

/*inicio MAX: 798px*/
@media screen and (max-width: 798px) {
    .sessao-6{
        top: -200px;
    }
    .sessao-6 .img-icone-mulher{
        margin: 0 auto;
        display: block;
        float: none;
        top: 50px;
       
    }
    .sessao-6 .texto-da-mulher-icone{
        
        width: 70%;
        
    }
    .container-icone{
        float: left;
        width: 30%;
    }
    .sessao-7{
        
        position: relative;
        top: -220px;
        
    }
    img.andulado5 {
        position: relative;
        top: -210px;
    }
    
}
/*fim MAX: 798px*/

/*inicio MAX: 535px*/
@media screen and (max-width: 535px){
    .sessao-6 .texto-da-mulher-icone{
        
        width: 60%;
        
    }

    .sessao-6 .img-icone-mulher{
        
        top: 200px;
       
    }
}
/*fim MAX: 535px*/

/*inicio MAX: 499px*/
@media screen and (max-width: 499px){
    .container-mensagem{
        display: none;
    }
}
