@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height:100%;
}

.clear{
    clear: both;
}

.container{
    max-width:1280px;
    margin: 0 auto;
}

header{
    background-image: url(../imagens/capa.png);
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
    padding: 40px 2%;
    height: auto;
    min-height: 90vh;
}

.img-logo{
    background-image: url(../imagens/logo-danki.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 180px;
    height: 90px;
    float: left;
    position: relative;
    top:-31px;
}

.navegar {
    float: right;
    
}

nav.nav-desktop ul{
    list-style-type: none;
}
nav.nav-desktop ul li{
    float: left;
   padding: 0 20px;
    
}

nav.nav-desktop ul li a{
    text-decoration: none;
    color: white;
    font-size: 21px;
}


nav.nav-mobile ul li a{
    text-decoration: none;
    color: black;
    font-size: 21px;
}

nav.nav-mobile{
    cursor: pointer;
	display: none;
	width: 32px;
	height: 32px;
	background-image: url('../imagens/menu.png');
	background-size: 100% 100%;
}

nav.nav-mobile ul{
	display: none;
	background-color: white;
	position: absolute;
	width: 100%;
	left: 0;
	top: 80px;
	list-style-type: none;
	text-align: center;
}
/*
nav.nav-mobile:hover ul{
	opacity: 1;
}
*/

nav.nav-mobile ul li{
    border-bottom: 1px solid black;
}

nav.nav-mobile:hover ul li:hover{
    background-color: rgb(241, 234, 234);
}

.logo{
    margin-top: 120px;
    float: right;
    max-width: 500px;
    margin-right: 20%;

}

.logo h2{
    color: white;
    font-weight: normal;
    font-size: 40px;
}

.logo p{
    color: white;
    font-size: 15px;
    margin-top: 10px;
}

.sessao-1{
    background-color: #472562;
    height: 400px;
}

.sessao-1 p{
    color: white;
    font-size: 14px;
    margin-top: 10px;
}

.sessao-1 h2{
    color: white;
    font-weight: normal;
    font-size: 30px;

}

.sessao-1 li{
    color: white;
    margin-top: 10px;
    font-size: 14px;
}

.sessao-part1{
    float: left;
    width: 49%;
    padding: 80px 10%;
    position: relative;
    left: 80px;
}

.sessao-part2{
    background-image: url(../imagens/device.png);
    height: 500px;
    background-position: center;
    background-size: 100% 100%;
    float: right;
    width: 40%;
    position: relative;
    top: -100px;
    right: 150px;
}

.sessao-1 input{
    margin-top: 15px;
    border: none;
    background-color: #FF703D;
    color: white;
    height: 50px;
    width: 169px;
    border-radius: 40px;
}

.sessao-1 input:hover{
    cursor: pointer;
    background-color: #cc582d;

}

.sessao-2 {
    text-align: center;
    display: inline-block;
    padding: 0 12% 10px 12%;
    
}

.sessao-2 h2 {
    color: #472663;
    font-weight: normal;
    font-size: 30px;
}

.sessao-2 p {
    color: #472663;
    margin-top: 15px;
    line-height: 25px;
}

.sessao-2 .img-center{
    position: relative;
    top: 110px;
    text-align: center;
}

.sessao-2 .img-center img{
    width: 100%;
    max-width: 1000px;
}

section.sessao-3 .part1{
    width: 50%;
    float: left;
    background-color: #835FA7;
    
}

section.sessao-3 .part1 .center-part1{
    padding: 150px 6% 60px 30%;
}

section.sessao-3 .part1 h2{
    color: white;
    font-weight: normal;
    font-size: 25px;
}

section.sessao-3 .part1 p{
    color: white;
    line-height: 25px;
    
}

section.sessao-3 .part2{
    width: 50%;
    float: right;
    background-color: #F3F7FB;
    
}

section.sessao-3 .part2 .center-part2{
    padding: 150px 30% 54.9px 6%;
   
}


section.sessao-3 .part2  h2{
    font-weight: normal;
    font-size: 25px;
}

.author{
    float: left;
    width: 100%;
}

.titulo-author{
    float: left;
}

section.sessao-3 .part2 .athor{
    float: left;
    width: 59px;
    height: 59px;
    background-image: url(../imagens/athos.png);
    background-position: center;
    background-size: contain;
    
}

section.sessao-3 .part2 .author  p:nth-of-type(1){
    font-size: 13px;
    font-style: italic;

}

section.sessao-3 .part2 .fal-author p:nth-of-type(1){
    line-height: 25px;
    margin-top: 10px;
}

section.sessao-3 .part2 .slid span{
    width: 15px;
    height: 15px;
    background-color: #ADADAD;
    border-radius: 7px;
    float: left;
    margin-right: 8px;
    cursor: pointer;
    margin-top: 5px;
}

section.sessao-4{
    background-color: #472563;
}

section.sessao-4 h2{
    color: white;
    font-weight: normal;
}

section.sessao-4 p{
    color: white;
    margin-top: 10px;
    line-height: 25px;
}

section.sessao-4 .formulario{
    width: 50%;
    float: left;
    padding: 80px 3% 20px 3%;
}

section.sessao-4 .formulario input[type=text]{
    display: block;
    width: 70%;
    height: 40px;
    margin-top: 10px;
    padding: 10px;
}

section.sessao-4 .formulario textarea{
    width: 70%;
    height: 160px;
    margin-top: 10px;
    padding: 10px;
}

.mapa{
    float: right;
    width: 50%;
    padding: 80px 10px;
}

.center-mapa{
    position: relative;
    margin-top: 20px;
    width: 80%;
    max-width: 450px;
}
.mapa-penutimo{
    width: 100%;
    padding-top: 100%;
    
}

.localicacao{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
    top: 0;
}

footer{
    background-color: #192123;
    padding: 30px 3%;
}

footer p{
color: white;
}

footer p:nth-of-type(1){
    float: left;
}

footer p:nth-of-type(2){
    float: right;
}


@media screen and (max-width: 792px) {
    header{
        width: 100%;
        height: auto;
        min-height: 90vh;
        padding:40px 2%;
    }
    
    nav.nav-mobile{
    display: block;
        
    }

    nav.nav-desktop{
        display: none;
    }

    .logo{
        text-align: center;
        float: none;
        display: inline-block;
        margin-right: 0;
        max-width: 700px;
        padding: 0 5%;
        position: relative;
        top: -40px;
    }

    section.sessao-3 .part1{
        width: 100%;
        float: none;
    }

    section.sessao-3 .part1 .center-part1{
        padding:120px 2% 30px 2%;
        text-align: justify;
    }

    section.sessao-3 .part2 .center-part2{
        padding:40px 2% 40px 2%;
        text-align: justify;
    }

    section.sessao-3 .part2{
        width: 100%;
        float: none;
    }

    section.sessao-4 .formulario{
        width: 100%;
        float: none;
        padding-bottom: 0;
        
    }

    
    section.sessao-4 .container{
        text-align: center;
    }

    section.sessao-4 .formulario input[type=text]{
        display: inline-block;
    }

    .mapa{
        float: none;
        width: 100%;
        padding: 20px 10px;
        
    }
    
    .center-mapa{
        display: inline-block;
        margin-top: 20px;
        width: 60%;
        max-width: none;
        
    
    }
    .mapa-penutimo{
        width: 100%;
        height: 100%;
        padding-top: 100%;
        position: relative ;
       
    }

    footer .container{
        text-align: center;
    }
    
    footer p:nth-of-type(1){
        float: none;
    }
    
    footer p:nth-of-type(2){
        float: none;
        padding: 10px;
    }

}

@media screen and (max-width: 964px) {
    .sessao-1{
        text-align: center;
    }
    .sessao-1 .container{
        height: auto;
    }

    .sessao-part1{
        width: 100%;
        padding: 0;
        padding-top: 40px;
        display: inline-block;
	    position: static; 
    }

    .sessao-part1 ul{
        display: inline-block;
        margin-top:20px;
       
    }

    .sessao-part1 ul li{
        text-align: left;
       
    }

    .sessao-part2{
        display: none;
    }

    .sessao-2 {
        padding-top: 50px;
        
    }

    .botao{
        padding: 0;
        margin: 0;
    }
    
}